/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  color: #1e1e1e;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  margin-bottom: 1%;
  height: 50px;
  position: absolute;
  top: 0;
}

.container {
  width: 98%;
  height: auto;
  margin: 0 auto;
}

.full-container {
  width: 100%;
}

.row {
  width: 100%;
  margin: 2% 0;
  display: flex;
}

.box-1 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 7.2695035461%;
  background: #e4e5e6;
  height: 50px;
}
.box-1:last-child {
  margin-right: 0;
}

.box-2 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 15.6995486783%;
  background: #e4e5e6;
  height: 50px;
}
.box-2:last-child {
  margin-right: 0;
}

.box-3 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 24.1295938104%;
  background: #e4e5e6;
  height: 50px;
}
.box-3:last-child {
  margin-right: 0;
}

.box-4 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 32.5596389426%;
  background: #e4e5e6;
  height: 50px;
}
.box-4:last-child {
  margin-right: 0;
}

.box-5 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 40.9896840748%;
  background: #e4e5e6;
  height: 50px;
}
.box-5:last-child {
  margin-right: 0;
}

.box-6 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 49.419729207%;
  background: #e4e5e6;
  height: 50px;
}
.box-6:last-child {
  margin-right: 0;
}

.box-7 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 57.8497743391%;
  background: #e4e5e6;
  height: 50px;
}
.box-7:last-child {
  margin-right: 0;
}

.box-8 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 66.2798194713%;
  background: #e4e5e6;
  height: 50px;
}
.box-8:last-child {
  margin-right: 0;
}

.box-9 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 74.7098646035%;
  background: #e4e5e6;
  height: 50px;
}
.box-9:last-child {
  margin-right: 0;
}

.box-10 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 83.1399097357%;
  background: #e4e5e6;
  height: 50px;
}
.box-10:last-child {
  margin-right: 0;
}

.box-11 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 91.5699548678%;
  background: #e4e5e6;
  height: 50px;
}
.box-11:last-child {
  margin-right: 0;
}

.box-12 {
  display: flex;
  margin-right: 1.1605415861%;
  width: 100%;
  background: #e4e5e6;
  height: 50px;
}
.box-12:last-child {
  margin-right: 0;
}

.banner {
  position: relative;
  max-height: 426px;
}

.myVideo {
  width: 100%;
}

.navbar-nav {
  position: absolute;
  top: 0;
  right: 2%;
  width: 100%;
}
.navbar-nav ul {
  margin-top: 1%;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, cantarell, open sans, helvetica neue, ubuntu, sans-serif;
  width: auto;
  text-align: right;
}
.navbar-nav .nav-items {
  display: inline-block;
  margin-right: 2%;
}
.navbar-nav .nav-items a {
  text-decoration: none;
  color: #e4e5e6;
}

.header-center {
  position: absolute;
  top: 34%;
  text-align: center;
  width: 100%;
  color: white;
}
.header-center img, .header-center p, .header-center form, .header-center h3 {
  margin-bottom: 1%;
}
.header-center h3 {
  font-weight: 600;
  font-size: 18px;
}
.header-center p > a.learn-more {
  text-decoration: underline;
  font-size: 18px;
}
.header-center p.popular-search-links {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.header-center p.popular-search-links a {
  margin: auto 1%;
  color: #e4e5e6;
}
.header-center p.popular-search-links a:hover {
  color: #fff;
}
.header-center p > a {
  text-decoration: none;
  color: inherit;
}
.header-center form {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.header-center form input {
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 2%;
}
.header-center form input:focus, .header-center form button:focus {
  outline: none;
}
.header-center form button {
  position: absolute;
  font-size: 18px;
  padding: 2%;
  top: 0;
  right: 0;
  background: #fff;
  border: none;
}
.header-center form button i {
  color: #858586;
}

.header-bottom {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
.header-bottom i.fa-twitter {
  padding: 0.5%;
  background: #1b95e0;
  color: #858586;
}
.header-bottom i.fa-thumbs-up {
  padding: 0.5%;
  background: #4E6692;
  color: #858586;
}

/*# sourceMappingURL=main.css.map */
