@import "abstracts/reset";

@import "abstracts/mixins";

@import "abstracts/variables";

@import "layout/grid";



.banner{
  position: relative;
  max-height: 426px;
}

.myVideo{
  width: 100%;

}

.navbar-nav{
  position: absolute;
  top: 0;
  right: $main_margin;
  width: 100%;

  ul{
    margin-top: $small_margin;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,open sans,helvetica neue,ubuntu,sans-serif;
    width: auto;
    text-align: right;
  }

  .nav-items {
   
    display: inline-block;
    margin-right: $main_margin;

    a{
      text-decoration: none;
      color: $light-gray;
    }
  }
  
}

.header-center{
  position: absolute;
  top: 34%;
  text-align: center;
  width: 100%;
  color: white;
  img, p, form, h3{
  margin-bottom: $small_margin;
  }

  h3 {
    font-weight: 600;
    font-size: 18px;
  }
  p>a.learn-more{
    text-decoration: underline;
    font-size: 18px;
  }

  p.popular-search-links {
    width: 35%;
    margin-left: auto;
     margin-right: auto;

     a {
       margin: auto $small_margin;
       color: $light_gray;
       &:hover {
         color: #fff;
       }
     }

     
  }
   p>a{
    text-decoration: none;
    color: inherit;
   }

   form {
     position: relative;
  
     width: 40%;
     margin-left: auto;
     margin-right: auto;
     input {
      border-radius: 5px;
       width: 100%;
       font-size: 18px;
       border: none;
       padding: $main_padding;
     }
     input:focus, button:focus {
       outline: none;
     }
     button {
       position: absolute;
       font-size: 18px;
       padding: $main_padding;
       top: 0;
       right: 0;
       background: #fff;
       border: none;

       i {
         color: $dark_gray;
       }
     }
   }
}

.header-bottom{
  position: absolute;
  bottom: 2%;
  width: 100%;

  i.fa-twitter {
    padding: .3%;
    background: #1b95e0;
    color: #fff;
    border-radius: 5px;
  }

  i.fa-thumbs-up {
    padding: .3%;
    background: #4E6692;
    color: #fff;
    border-radius: 5px;
  }
  .right-content{
    position: absolute;
    right: $main_margin;
    top: 0;
    padding: .4%;
    border: 1px solid  $light_gray;
    width: auto;
    &:hover{
      border: 1px solid  #fff;
    }
    a{
      color: $light_gray;
      text-decoration: none;

      &:hover{
        color: #fff;
      }
      i{
        font-size: 10px;
      }
    }

  }

}

