@import "abstracts/reset";

@import "abstracts/mixins";

@import "abstracts/variables";

@import "layout/grid";



.banner{
  position: relative;
  max-height: 426px;
}

.myVideo{
  width: 100%;

}

.navbar-nav{
  position: absolute;
  top: 0;
  right: $main_margin;
  width: 100%;

  ul{
    margin-top: $small_margin;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,open sans,helvetica neue,ubuntu,sans-serif;
    width: auto;
    text-align: right;
  }

  .nav-items {
   
    display: inline-block;
    margin-right: $main_margin;

    a{
      text-decoration: none;
      color: $light-gray;
    }
  }
  
}

