@mixin grid-unit-main($span) {
    margin-right: $gutter-width;
    margin-left: $gutter-width;
    width: ($column-width * $span) + ($gutter-width * ($span - 1));
  }

  @mixin grid-unit($span) {
    display: flex;
    margin-right: $gutter-width;
    width: ($column-width * $span) + ($gutter-width * ($span - 1));
  }