$dark_gray: #1e1e1e;
$light_gray: #e4e5e6;

$main_padding: 20px;
$small_padding: 10px;

$main_margin: 20px;
$small_margin: 10px;

$column-width: percentage((820/12 / 940));   // 12 columns = 720px
$gutter-width: percentage((110/11) / 940);   // 11 gutters = 220px