$dark_gray: #858586;
$light_gray: #e4e5e6;


$main_padding: 2%;
$small_padding: 1%;

$main_margin: 2%;
$small_margin: 1%;

$column-width: percentage((820/12 / 940));   // 12 columns = 720px
$gutter-width: percentage((120/11) / 940);   // 11 gutters = 220px