$dark_gray: #1e1e1e;
$light_gray: #1e1e1e;

$main_padding: 20px;
$small_padding: 10px;

$main_margin: 20px;
$small_margin: 10px;

$column-width: 60px;    // 12 columns = 720px
$gutter-width: 20px;    // 11 gutters = 220px